@import '~src/assets/styles/mixins';

:host {
  display: block;
  background: #fff;
  border-right: 1px #eeeeee solid;
  width: 400px;
  overflow: auto;
}

.name_h {
  color: #231f20;
  span {
    text-shadow: 1px 0 0 #231f20;
    font-size: 3.5em;
  }
}
.contacts_h {
  span {
    display: block;
    font-size: 1.2em;
    line-height: 20px;
  }
}
.image {
  img {
    max-height: 100%;
  }
}
.print_h {
  display: block;
  width: 30px;
  height: 30px;
  &:hover {
    rect {
      fill: #231f20;
    }
  }
}

@media print {
  .portfolio_h,
  .print_h {
    display: none;
  }
  header,
  .name,
  .familyname,
  .image,
  .tel_h,
  .email_h {
    @include notransform();
  }
  header {
    position: relative;
  }
}
