<header [class.scrolled]="scrolled">
  <div class="wrapper">
    <a routerLink="/" class="name_h">
      <span class="name" itemprop="name">Nik</span>
      <span class="familyname" itemprop="familyName">Datsko</span>
    </a>
    <div class="contacts_h">
      <span class="tel_h" itemprop="telephone">+420.778.045.707</span>
      <span class="email_h"><a routerLink="/contact" itemprop="email">mydatsko@gmail.com</a></span>
      <span class="portfolio_h"><a routerLink="/portfolio">portfolio</a></span>
    </div>
  </div>
</header>
