<div class="profile" itemscope itemtype="http://schema.org/Person">
  <figure class="image4print only4print">
    <img src="assets/images/nik.jpg">
  </figure>
  <div>
    <a routerLink="/" class="name_h">
      <figure class="image not4print">
        <img src="assets/images/nik-datsko.jpg" itemprop="image">
      </figure>
      <span class="name" itemprop="name">Nik Datsko</span>
    </a>
    <div class="contacts_h">
      <span class="tel_h" itemprop="telephone">+420.778.045.707</span>
      <span class="email_h"><a routerLink="/contact" itemprop="email">mydatsko@gmail.com</a></span>
    </div>
  </div>
</div>
<div class="education">
  <h3>Education</h3>
  <div class="education-item">
    <p><strong>Computer Electronic Systems</strong> Master's degree studies
      <br>in Gdansk University of Technology</p>
  </div>
  <div class="education-item">
    <p><strong>Electronic Industry Equipment</strong> Bachelor's degree
      <br>in East Ukrainian National University</p>
  </div>
</div>
<div class="about">
  <h3 class="not4print">About myself</h3>
  <p class="not4print">I am a person who was born in Soviet Union, raised in Ukraine, studied in Poland, had a year of internship in the USA and
    a year of volunteering in France, worked in Russia, travelled all over Europe, got married in Dominican Republic, spent
    a year with his wife in Latin America freelancing, worked remotely travelling with his wife and daughter in Asia, has most recently been a member of EPAM team in Prague
    and now wants to work remotely and travel again which makes him extremely motivated, enthusiastic and passionate about what he does best: building great products.</p>
  <p>I specialize in a full front-end development: responsive and cross-browser HTML-CSS layout, client-side functionality with
    JavaScript, performance optimization, accessability, usability, handling backend with Node.</p>
</div>
<div class="networks not4print">
  <a class="network network-linkedin" href="https://www.linkedin.com/in/nik-datsko/" target="_blank" title="linkedIn">in</a>
  <a class="network network-github" href="https://github.com/nikdatsko/" target="_blank" title="GitHub">G</a>
  <a class="network network-upwork" href="https://www.upwork.com/freelancers/~017f56631530e07548" target="_blank" title="Upwork">Up</a>
</div>
