<div class="profile" itemscope itemtype="http://schema.org/Person">
  <div class="only4print">
    <div class="print-header">
      <div class="name_h">
        <span>Mykyta Datsko</span>
      </div>
      <div class="print-contacts">
        <div class="tel_h">
          <span>+16043454455</span>
        </div>
        <div class="email_h">
          <span itemprop="email">mydatsko&#64;gmail.com</span>
        </div>
      </div>
    </div>
    <div class="print-summary">
      I am frontend expert, I specialize in creating responsive, cross-browser, cross-platform HTML-CSS layouts,
      utilizing Angular with TypeScript as a JavaScript framework to build dynamic and robust web applications,
      ensuring code quality, optimized performance, accessibility, maintainability, and reusability,
      proficient in integrating with backend systems through RESTful APIs.
    </div>
  </div>
  <div class="not4print">
    <a routerLink="/" class="name_h">
      <figure class="image not4print">
        <img src="assets/images/nik-datsko.jpg" itemprop="image">
      </figure>
      <span class="name" itemprop="name">Mykyta Datsko</span>
    </a>
    <div class="contacts_h">
      <span class="born_h"><span>26/01/1987</span></span>
      <span class="email_h" itemprop="email">mydatsko&#64;gmail.com</span>
      <span class="tel_h" itemprop="telephone">
        <span>+1.604.345.4455</span>
      </span>
    </div>
  </div>
</div>
<div class="key-skills only4print">
  <h2>Key Skills</h2>
  <div>
    <ul>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>HTML</li>
      <li>CSS/SASS</li>
      <li>Node</li>
    </ul>
    <ul>
      <li>Leadership</li>
      <li>Communication</li>
      <li>Mentoring</li>
      <li>Problem-solving</li>
      <li>Detail-orientation</li>
      <li>Agile/SCRUM</li>
    </ul>    
  </div>
</div>
<div class="education not4print">
  <h3>Education</h3>
  <h4>09/2004 - 06/2008</h4>
  <div class="education-item">
    <p><strong>Bachelor's degree</strong> in Electronic Industry Equipment,
      <br>Computer Technologies, East Ukrainian State University</p>
  </div>
</div>
<div class="about not4print">
  <h3>About myself</h3>
  <p>I am a person who was born in the Soviet Union, raised in Ukraine, studied in Poland,
    had a year of internship in the USA and a year of volunteering in France, traveled all over Europe, got married in the Dominican Republic,
    spent a year with my wife in Latin America freelancing, worked remotely traveling with my wife and kids in Asia and is now a member of EPAM Anywhere team
    living as a digital nomad dreaming to settle down in Vancouver, Canada.</p>
</div>
<div class="networks not4print">
  <a class="network network-linkedin" href="https://www.linkedin.com/in/mykyta-datsko/" target="_blank" title="linkedIn">in</a>
  <a class="network network-github" href="https://github.com/nikdatsko/" target="_blank" title="GitHub">G</a>
  <a class="network network-upwork" href="https://www.upwork.com/freelancers/~017f56631530e07548" target="_blank" title="Upwork">Up</a>
</div>
