@import '~src/assets/styles/mixins';
aside {
  width: 25%; /*240/960*/
  float: left;
  padding: 10px 0;
  text-align: right;
  h1 {
    line-height: 1.1em;
  }
}
article {
  width: 75%; /*720/960*/
  float: right;
}
.inner {
  box-shadow: 0 0 5px #ccc;
  margin: 10px 1.3888888888888888888888888888889%; /*10/720*/
  padding: 5px 0.69444444444444444444444444444444%; /*5/720*/
  .inner2 {
    background: #fff;
  }
}
.padding {
  padding: 10px;
  ul {
    list-style-type: disc;
    li {
      line-height: 150%;
    }
  }
}
@media all and (max-width: 1024px) {
  aside {
    width: 30%;
  }
  article {
    width: 70%;
  }
}
@media all and (max-width: 767px) {
  section {
    aside {
      width: 100%;
      text-align: center;
      h1 {
        margin-bottom: 0;
      }
    }
    article {
      width: 100%;
    }
  }
}

@media print {
  .top_section {
    // margin-top: -50px;
  }
  section {
    aside {
      width: 30%;
      text-align: right;
      h1 {
        font-size: 2.6em;
        margin-top: 10px;
      }
    }
    article {
      width: 70%;
    }
  }
  .inner {
    box-shadow: none;
    border-left: 1px #eeeeee solid;
  }
  .about {
    .inner,
    .padding {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    article {
      p {
        line-height: 130%;
        margin-bottom: 0.6em;
      }
    }
  }
}
