@import 'src/assets/styles/variables';
:host {
  display: block;
  margin-bottom: 20px;
  clear: both;
}

.date {
  float: right;
  margin: 10px;
  div {
    padding: 10px 0;
    width: 80px;
    text-align: center;
    &.top {
      background: $lightblue;
    }
    &.bottom {
      background: $lighterblue;
    }
  }
}

ul {
  clear: both;
}

@media print {
  .date {
    display: flex;
    flex-direction: row-reverse;
    margin: 6px 10px 0;

    div {
      border: none;
      background: none!important;
      width: auto;
      padding: 0;
      color: #999;

      &.top:before {
        content: "-";
        display: inline-block;
        padding: 0 5px;
      }
    }
  }

  h2 {
    display: inline-block;
    margin-right: .2em;
    font-weight: bold;
  }

  h3 {
    display: inline-block;
    font-weight: normal;

    &:before {
      content: "at ";
    }
  }

  h4 {
    display: inline-block;
    font-style: normal;

    &:before {
      content: ",";
      display: inline-block;
      padding-right: 4px;
    }

    .city {
      display: none;
    }
  }
}
