<section class="about">
	<aside>
		<h1>About myself</h1>
	</aside>
	<article>
		<div class="inner">
			<div class="inner2">
				<div class="padding">
					<p>I am a person who was born in Soviet Union, raised in Ukraine, studied in Poland, had a year of internship in the USA and a year of volunteering in France, worked in Russia, travelled all over Europe, got married in Dominican Republic, spent a year with his wife in Latin America freelancing, worked remotely travelling with his wife and daughter in Asia and is now a member of EPAM team in Prague.</p>
					<p>I have a lot of experience in different fields. My favourite, though, appeared to be web development, languages and travelling.</p>
					<p>I love to encounter with new challenges in web development when I have some interesting dynamical demands. I like creating HTML-CSS layouts, doing all the frontend functionality with Angular, getting to know MongoDB and ExpressJS to handle backend.</p>
					<p>I adore speaking to people in their own languages. I find it amazing to hear real western Ukrainian language. It is breathtaking for me to talk to people from St. Petersburg with their beautiful Russian. It is so lovely to hear these special words and phrases which I would never even think of using but which sound so natural from Polish and English people! French people always make me smile with their "quoi" after each sentence:) Spanish awe me with there speed of talking!</p>
					<p>And, of course, I love to travel. And I mean I am totally crazy about all kinds of travelling. Be it an exhausting hiking trip in the mountains, or a chillaxing stay at the beach, or an adventurous hitch-hiking journey, or an ordinary tourist visit to some capital, you name it! Travels always give an incredible feeling.</p>
					<p>That is why a position with a flexible schedule would suit perfectly for me as well as a remote position.</p>
				</div>
			</div>
		</div>
	</article>
</section>
