<section class="languages">
	<aside>
		<h1>Language proficiency</h1>
	</aside>
	<article>
		<div class="inner">
			<div class="inner2">
				<div class="padding">
					<div>
						<ul class="bars">
							<li>
								<h3>English</h3>
								<div><div class="bar" style="width: 95%"></div></div>
								<span>95%</span>
							</li>
							<li>
								<h3>Polish</h3>
								<div><div class="bar" style="width: 90%"></div></div>
								<span>90%</span>
							</li>
							<li>
								<h3>Czech</h3>
								<div><div class="bar" style="width: 50%"></div></div>
								<span>50%</span>
							</li>
							<li>
								<h3>French</h3>
								<div><div class="bar" style="width: 45%"></div></div>
								<span>45%</span>
							</li>
							<li>
								<h3>Spanish</h3>
								<div><div class="bar" style="width: 40%"></div></div>
								<span>40%</span>
							</li>
							<li>
								<h3>Russian</h3>
								<div><div class="bar" style="width: 98%"></div></div>
								<span>98%</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
