<header>
	<div class="wrapper">
		<div class="name_h">
			<span class="name" itemprop="name">Nik <a href="/"></a></span>
			<span class="familyname" itemprop="familyName">Datsko<a href="/"></a></span>
		</div>
		<div class="contacts_h">
			<span class="tel_h" itemprop="telephone">+420.778.045.707</span>
			<span class="email_h" itemprop="email"><a href="mailto:mydatsko@gmail.com">mydatsko@gmail.com</a></span>
			<span class="skype_h" itemprop="url">nikdatsko</span>
			<a class="print_h" ng-click="nik.print()" title="Print">
				<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
					<rect fill="#908E8F" x="159.992" y="96" width="96" height="20"/>
					<rect fill="#908E8F" x="159.992" y="160" width="192.016" height="20"/>
					<rect fill="#908E8F" x="159.992" y="224" width="192.016" height="20"/>
					<path fill="#231F20" d="M464.008,224h-16v64h-32V96l-96-96H95.992v288h-32v-64h-16c-26.5,0-48,21.5-48,48v192c0,26.5,21.5,48,48,48h416.016   c26.5,0,48-21.5,48-48V272C512.008,245.5,490.508,224,464.008,224z M127.992,32h160v96h96.016v160H127.992V32z M31.992,352v-32h64   v32H31.992z M448.008,448H63.992v-32h384.016V448z"/>
				</svg>
			</a>
		</div>
	</div>
</header>