<section>
	<aside>
		<h1>Education</h1>
	</aside>
	<article class="education">
		<div class="inner">
			<div class="inner2">
				<div class="padding">
					<div class="place">
						<div class="date">
							<div class="top">
								<span>06/2012</span>
							</div>
							<div class="bottom">
								<span>02/2011</span>
							</div>
						</div>
						<h2>Gdansk University of Technology</h2>
						<h3>Master's degree studies</h3>
						<h4>Computer Electronic Systems</h4>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>06/2008</span>
							</div>
							<div class="bottom">
								<span>09/2004</span>
							</div>
						</div>
						<h2>East Ukrainian National University</h2>
						<h3>Bachelor's Degree</h3>
						<h4>Equipment of Electronic Industry</h4>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
