<section class="first_section">
	<aside>
		<h1>Work experience</h1>
	</aside>
	<article>
		<div class="inner">
			<ul class="tabs">
				<li><a class="tab"
					   ng-class="{'active': nik.currentWorkTab == nik.workTabs[0]}"
					   ng-click="nik.currentWorkTab = nik.workTabs[0]">Web field</a></li>
				<li><a class="tab"
					   ng-class="{'active': nik.currentWorkTab == nik.workTabs[1]}"
					   ng-click="nik.currentWorkTab = nik.workTabs[1]">Other fields</a></li>
			</ul>
			<div class="inner2">
				<div class="tab_content" ng-class="{'active': nik.currentWorkTab == nik.workTabs[0]}" ng-show="nik.currentWorkTab == nik.workTabs[0]">
					<div class="place">
						<div class="date">
							<div class="top">
								<span>current</span>
							</div>
							<div class="bottom">
								<span>05/2017</span>
							</div>
						</div>
						<h2>Software engineer</h2>
						<h3>EPAM</h3>
						<h4>Prague, Czech Republic</h4>
						<ul>
							<li>Angular</li>
							<li>TypeScript</li>
							<li>SASS</li>
							<li>Node.js</li>
							<li>Rx.js</li>
							<li>D3.js</li>
							<li>Responsive layout</li>
							<li>Using IntelliJ IDEA, GitLab, JIRA, Angular-cli</li>
						</ul>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>05/2017</span>
							</div>
							<div class="bottom">
								<span>06/2015</span>
							</div>
						</div>
						<h2>Front-end developer</h2>
						<h3>Synergetica</h3>
						<h4>Remote position. Kiev, Ukraine</h4>
						<ul>
							<li>HTML5, CSS3, JS</li>
							<li>AngularJS development</li>
							<li>CSS animations</li>
							<li>SVG illustrations</li>
							<li>Django templates</li>
							<li>HTML to PDF templates coding</li>
							<li>Responsive design development</li>
							<li>Using PyCharm, GitHub, GitLab, Gulp</li>
						</ul>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>06/2015</span>
							</div>
							<div class="bottom">
								<span>01/2015</span>
							</div>
						</div>
						<h2>Freelance web-developer</h2>
						<h3>Incredible journey</h3>
						<h4>South America</h4>
						<ul>
							<li>PSD to HTML, CSS, JS</li>
							<li>WordPress, Drupal theming</li>
							<li>AngularJS learning</li>
							<li>Creating a personal travel blog <a href="http://niklenburg.com" target="_blank">niklenburg.com</a></li>
							<li>Using WebStorm, GitHub</li>
						</ul>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>01/2015</span>
							</div>
							<div class="bottom">
								<span>09/2013</span>
							</div>
						</div>
						<h2>Leading front-end developer</h2>
						<h3>Retail-Online</h3>
						<h4>St. Petersburg, Russia</h4>
						<ul>
							<li>HTML coding using HTML5 and XHTML</li>
							<li>LESS/CSS styling</li>
							<li>JavaScript effects implementation</li>
							<li>PHP programming for CMSs</li>
							<li>Working with WordPress, OpenCart, Joomla, Smarty PHP Template Engine and other</li>
							<li>Cross-browser and responsive coding</li>
							<li>HTML newsletters</li>
							<li>Search Engine Optimization of the code</li>
							<li>Using Adobe Photoshop, GRUNT, Crunch!, Notepad++</li>
						</ul>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>09/2013</span>
							</div>
							<div class="bottom">
								<span>09/2012</span>
							</div>
						</div>
						<h2>Web-developer, administrator</h2>
						<h3>Ludilangues</h3>
						<h4>Strasbourg, France</h4>
						<ul>
							<li>Creating web-sites from scratch</li>
							<li>Design of web-sites</li>
							<li>HTML coding</li>
							<li>CSS styling</li>
							<li>PHP programming</li>
							<li>jQuery event handling</li>
							<li>Installation and configuration of software</li>
							<li>Photo editing in Photoshop</li>
							<li>Video editing  and creating video tutorials in Camtasia Studio</li>
						</ul>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>09/2012</span>
							</div>
							<div class="bottom">
								<span>01/2012</span>
							</div>
						</div>
						<h2>Freelance web-developer</h2>
						<h4>Gdansk, Poland</h4>
						<ul>
							<li>Creating simple HTML based web-sites</li>
							<li>Learning CSS and JavaScript</li>
							<li>Installing and configuring WordPress sites</li>
						</ul>
					</div>
				</div>
				<div class="tab_content" ng-class="{'active': nik.currentWorkTab == nik.workTabs[1]}"  ng-show="nik.currentWorkTab == nik.workTabs[1]">
					<div class="place">
						<div class="date">
							<div class="top">
								<span>05/2012</span>
							</div>
							<div class="bottom">
								<span>01/2011</span>
							</div>
						</div>
						<h2>Volunteer</h2>
						<h3>Dom Pojednania i Spotkań im. Maksymiliana M. Kolbe</h3>
						<h4>Gdansk, Poland</h4>
						<ul>
							<li>Preparation and organization of international exchange projects</li>
						</ul>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>01/2011</span>
							</div>
							<div class="bottom">
								<span>09/2010</span>
							</div>
						</div>
						<h2>Electrician and work superintendent assistant</h2>
						<h3>Moscow Building Association</h3>
						<h4>Moscow, Russia</h4>
						<ul>
							<li>Laying electric wires from the junction box to the outlets and switches</li>
							<li>Install of outlets, switches, lights, fans, warm floors</li>
							<li>Install of electronic</li>
							<li>Repairs of walls, floors, ceilings</li>
							<li>Doors, windows install</li>
						</ul>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>09/2009</span>
							</div>
							<div class="bottom">
								<span>09/2008</span>
							</div>
						</div>
						<h2>Service technician, Trade show booth designer</h2>
						<h3>Skyline Exhibits & Graphics Mid-America</h3>
						<h4>Saint Louis, Missouri</h4>
						<ul>
							<li>Design of exhibits in Iron CAD</li>
							<li>Install, dismantle of the trade show booths</li>
							<li>Driving, delivering of the exhibits to shows and back</li>
							<li>Working in the print shop, printing board and card board graphics</li>
							<li>Interacting with clients</li>
						</ul>
					</div>
					<div class="place">
						<div class="date">
							<div class="top">
								<span>09/2008</span>
							</div>
							<div class="bottom">
								<span>03/2004</span>
							</div>
						</div>
						<h2>Volunteer</h2>
						<h3>Lugansk Region Mediation Group</h3>
						<h4>Lugansk, Ukraine</h4>
						<ul>
							<li>Coordinator of youth programs</li>
							<li>Counselor in a children's camp</li>
							<li>Participation and help in organizing of hiking trips to the mountains</li>
							<li>Participation in different programs for active youth</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
