<section>
	<aside>
		<h1>References</h1>
	</aside>
	<article>
		<div class="inner">
			<div class="inner2">
				<div class="padding">
					<div class="place">
						<h4>Retail-Online</h4>
						<h3>Ekaterina Shcherbak (CEO)</h3>
						<p>+7.911.954.4241</p>
					</div>
					<div class="place">
						<h4>Ludilangues</h4>
						<h3>Ludovic Albisser (Director)</h3>
						<p>+33(0)649.1611.09</p>
					</div>
					<div class="place">
						<h4>Skyline Exhibits & Graphics Mid America</h4>
						<h3>Rick Marchbanks (President)</h3>
						<p>+1.314.368.5548</p>
					</div>
					<div class="place">
						<h4>DMK</h4>
						<h3>Sofia Useinova (Coordinator of international projects)</h3>
						<p>+48(0)583.015.72</p>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
