<section>
    <aside>
        <h1>Contact me</h1>
    </aside>
    <article class="education">
        <div class="inner">
            <div class="inner2">
                <div class="padding">
                    <form class="contact-form" name="contactForm"
                          ng-submit="contact.submit()" novalidate>
                        <p>
                            <input ng-model="contact.form.name" type="text" placeholder="Name" required>
                        </p>
                        <p>
                            <input ng-model="contact.form.email" type="email" placeholder="Email" required>
                        </p>
                        <p>
                            <ui-select ng-model="contact.occupation">
                                <ui-select-match placeholder="Your occupation">
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (contact.occupations | filter: $select.search) track by $index">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </p>
                        <p>Why do you need me?</p>
                        <p class="checkbox" ng-repeat="need in contact.needs track by $index">
                            <input id="need_{{$index}}" type="checkbox"
                                   ng-model="contact['need' + $index]"
                                   ng-change="contact.toggleNeeds(need)">
                            <label for="need_{{$index}}">{{need}}</label>
                        </p>
                        <p>
                            <textarea ng-model="contact.form.message" placeholder="Type your message..." required></textarea>
                        </p>
                        <p class="right">
                            <input type="submit" value="Send" ng-disabled="contactForm.$invalid">
                        </p>
                        <p class="left" ng-show="contact.result">
                            <span ng-class="{'success': contact.isSuccess, 'fail': !contact.isSuccess}"
                                  ng-bind-html="contact.result"></span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </article>
</section>
