<section>
	<aside>
		<h1>Trainings & Seminars attended</h1>
	</aside>
	<article>
		<div class="inner">
			<div class="inner2">
				<div class="padding">
					<ul>
						<li>Internet marketing</li>
						<li>SMM and SEO</li>
						<li>Graphic design</li>
						<li>Personal development</li>
						<li>Active sales</li>
						<li>Leadership</li>
						<li>Team building</li>
						<li>Diversity and tolerance</li>
						<!--<li>Oratory</li>-->
						<li>Time management and strategic planning</li>
					</ul>
				</div>
			</div>
		</div>
	</article>
</section>
