<main>
  <app-section *ngIf="!!(experienceStream | async)?.length" className="top_section">
    <ng-container aside>
      <h1 itemprop="jobTitle">Front-end developer</h1>
    </ng-container>
    <ng-container article>
      <app-place *ngFor="let place of (experienceStream | async)" [place]="place"></app-place>
    </ng-container>
  </app-section>
</main>
<aside>
  <app-section *ngIf="!!(skillsStream | async)">
    <ng-container aside>
      <h1>Skills</h1>
    </ng-container>
    <ng-container article>
      <div *ngFor="let skillset of (skillsStream | async) | keyvalue : disableReorder">
        <h3>{{skillset.key}}</h3>
        <div *ngFor="let skill of skillset.value">{{skill}}</div>
        <br/>
      </div>
    </ng-container>
  </app-section>
</aside>
